html{
  margin: none;
}
h1{
  color: #005DFF;
  text-align: center;
  text-shadow: 1px 1px 1px black,
              -1px 1px 1px black,
              1px -1px 1px black,
              -1px -1px 1px black;
  margin-top: 12.5vh;
  margin-bottom: 7vh;
  font-size: 3em;
}

.transform{
  text-transform: uppercase;
  font-size: 4em;
}

nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 6vh;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 8px rgb(93, 93, 93)
}

nav > div > a {
  color: #005DFF;
  text-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  padding: 0 20px;
  text-decoration: none;
  font-size: 1.4em
}
nav > div > h4 {
  font-size: 1.4em;
  font-weight: bold
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexSpaceAround{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.logo{
  width: 15%;
  margin-right: 6%;
}

.logoADM{
  width: 6%;
  margin-right: 2%;
}

.logoComum{
  width: 10%;
  margin-right: 3%;
}

.espacoHome > img {
  width: 40%;
  margin: 25% 30% 0% 30%;
}

.espacoHome{
  width: 40%;
}

.espacoHome > h2 {
  text-align: center;

}

.rodape{
  box-shadow: 1px 1px 8px rgb(93, 93, 93);
  text-align: center;
}

.Erro{
  text-align: center;
}
.Erro h1 {
  margin: 31.8vh 0 0 0;
  font-size: 7em;
}

.Erro p {
  margin: 0 0 31.7vh 0;
  font-size: 2em;
  font-weight: bold
}

.rodape > p {
  text-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  color: #005DFF;
  font-size: 1.4em;
  font-weight: bolder;
  padding-top: 1vh;
  margin-bottom: 0%
}

.rodape > div > div {
  font-size: 1.1em;
  width: 30%;
  font-weight: bolder;
}

.homeLimitador2 > img{
  width: 100%;
}

.homeLimitador{
  text-align: justify;
  width: 30%
}

.limiteHome > h2{
  text-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  color: #005DFF;
}

.homeLimitador2{
  text-align: justify;
  width: 55%
}

.limiteHome{
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

label{
  font-size: 1.5em;
  padding-bottom: 5vh;
  font-weight: bold;
}

input{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  height: 4vh;
  width: 80%;
  border-radius: 50px;
  padding-left: 7px;
}

select{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  height: 4.7vh;
  width: 80.8%;
  border-radius: 50px;
  padding-left: 7px;
}

button{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  height: 4vh;
  width: 80%;
  margin: 10vh 0 0 0;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.25em;
}

.centralizarForm{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  text-align: center;
  width: 25%;
  height: 57vh;
  border-radius: 50px;
  margin: 16vh auto 14.6vh auto
  
}

.centralizarForm2{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  text-align: center;
  width: 25%;
  height: 57vh;
  margin: 16vh auto 14.6vh auto;
  border-radius: 50px;
}

.centralizarForm > h1{
  padding-top: 5vh
}

.selecaoADM h1{
  margin: 12vh 0 2vh 0;
}

.selecaoADM > div > a{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  text-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  padding: 15% 3%;
  margin: 1% -9%;
  border-radius: 50px;
  text-decoration: none;
  color: #005DFF;
  font-weight: bold;
  font-size: 2em;
}

.selecaoADM > div {
  display: flex;
  justify-content: space-evenly
}

table{
  width: 90%;
  margin: 0 auto 10vh auto;
  text-align: left;
  align-content: initial
}

th{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  padding: 0 1%;
  background-color: #005DFF;
  color: white
}

td{
  box-shadow: 1px 1px 1px rgb(49, 49, 49),
  -1px 1px 1px rgb(49, 49, 49),
  1px -1px 1px rgb(49, 49, 49),
  -1px -1px 1px rgb(49, 49, 49);
  padding: 1vh 1%;
}

.sinopse{
  width: 40%;
}

.arrumarForm{
  text-align: center
}

.arrumarForm button{
  margin: 4vh 0 5vh 0
}

.arrumarForm input,select{
  margin: 0.5vh 0;
}